*
{
    margin: 0;
    padding: 0;
}
html, body
{
    height: 100%;
    margin: 0;
}

#load-button
{
    width: 10%;
    height: 100%;
    float: left;
    cursor: pointer;
}

#title
{
    display: inline-block;
    width: 80%;
    height: 100%;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    top: 40%;
}

#save-button
{
    width: 10%;
    height: 100%;
    float: right;
    cursor: pointer;
}

section
{
    width: 100%;
    height: 100%;
    margin: 0;
}


#uploaded-input
{
    display: none;
}

#blocklyDiv
{
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
}

#toolbox
{
    display: none;
}