# Eclipse runtime metadata
.metadata/
# Eclipse runtime project
*.project
# Eclipse generated code
src-gen/
xtend-gen/
target/
# Binaries and executables
*.prefs
*.classpath
*.launch
bin/
*._trace
*.jar
# Ecore model
generated/
# Git
.gitattributes