# Eclipse runtime metadata
.metadata/
# Eclipse runtime project
*.project
# Eclipse generated game folders
src-gen/
target/
*.prefs
*.classpath
*.launch
Samples/
bin/
*._trace
src-gen/
xtend-gen/
*.jar
generated/