# Eclipse runtime metadata
.metadata/
# Eclipse generated code
src-gen/
xtend-gen/
target/
# Binaries and executables
*.prefs
*.classpath
*.launch
bin/
*._trace
*.jar
# Ecore model
generated/
# Git
.gitattributes
# Blockly
blockly-master/
Product/
m/
.gitignore
# Unity project
Assets/
ProjectSettings/
Packages/