html, body
{
    height: 100%;
    margin: 0;
}

header
{
    height: 5%;
    width: 100%;
    margin: 0;
}

#blocks-button
{
    width: 9%;
    height: 100%;
    float: left;
    cursor: pointer;
}

#load-button
{
    width: 9%;
    height: 100%;
    float: left;
    cursor: pointer;
}

#title
{
    display: inline-block;
    width: 62%;
    height: 100%;
    font-family: sans-serif;
    text-align: center;
}

#save-button
{
    width: 9%;
    height: 100%;
    float: right;
    cursor: pointer;
}
#text-button
{
    width: 9%;
    height: 100%;
    float: right;
    cursor: pointer;
}

section
{
    width: 100%;
    height: 90%;
    margin: 0;
}

footer
{
    height: 5%;
    margin: 0;
    text-align: center;
}

#uploaded-input
{
    display: none;
}

#blocklyDiv
{
    height: 100%;
    width: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
}

#textPanel
{
    height: 100%;
    width: 49%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#toolbox
{
    display: none;
}