<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Minim">
         <property
               name="windowImages"
               value="icons/app16.png,icons/app32.png,icons/app48.png,icons/app64.png,icons/app128.png,icons/app256.png">
         </property>
         <property
               name="aboutText"
               value="Minim DSL">
         </property>
         <property
               name="aboutImage"
               value="icons/app32.png">
         </property>
         <property
               name="appName"
               value="Minim">
         </property>
      </product>
   </extension>

</plugin>
